.section {
  margin-top: clamp(-160px, -11vw, -72px);
  padding: 70px 24px 120px;
  overflow: hidden;
}

.intro,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.divider {
  width: 75px;
  height: 4px;
  margin-bottom: 70px;
  border-radius: 999px;
  background: var(--color-accent-soft);
}

.eyebrow {
  color: var(--color-text-secondary);
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.02em;
}

.projectName {
  margin-top: 4px;
  color: var(--color-text-primary);
  font-size: clamp(38px, 4vw, 43px);
  font-weight: 700;
  line-height: 1.1;
}

.projectName span {
  color: var(--color-accent);
}

.screens {
  position: relative;
  width: min(100%, 1016px);
  height: clamp(360px, 38vw, 520px);
  margin: 74px auto 56px;
}

.groundShadow {
  position: absolute;
  z-index: 0;
  height: 12px;
  border-radius: 999px;
  background: rgb(25 25 25 / 17%);
  filter: blur(10px);
  pointer-events: none;
  translate: -50% 0;
  transform-origin: center;
}

.leftGroundShadow {
  bottom: -5px;
  left: 35.6%;
  width: clamp(130px, 15vw, 216px);
}

.centerGroundShadow {
  bottom: -40px;
  left: 50%;
  width: clamp(190px, 23vw, 319px);
}

.rightGroundShadow {
  bottom: -6px;
  left: 64.7%;
  width: clamp(130px, 15vw, 210px);
}

.screen {
  position: absolute;
  display: flex;
  transform-origin: center bottom;
}

.screen img {
  width: 100%;
  height: auto;
}

.leftScreen img,
.rightScreen img {
  width: auto;
  height: 100%;
}

.leftScreen,
.rightScreen {
  bottom: 15px;
  z-index: 1;
  width: auto;
  height: clamp(318px, 31vw, 470px);
}

.leftScreen {
  left: 20%;
}

.centerScreen {
  bottom: 0;
  left: 50%;
  z-index: 2;
  width: clamp(190px, 20vw, 285px);
  translate: -50% 0;
}

.rightScreen {
  right: 20%;
  height: calc(clamp(318px, 31vw, 479px) + 20px);
  bottom: -8px;
}

.content h3 {
  max-width: 570px;
  color: var(--color-text-primary);
  font-size: clamp(28px, 3vw, 34px);
  font-weight: 700;
  line-height: 1.15;
}

.content p {
  max-width: 901px;
  margin-top: 34px;
  color: var(--color-text-secondary);
  font-size: clamp(18px, 2vw, 22px);
  font-weight: 200;
  line-height: 1.45;
}

@media (max-width: 1300px) {
  .leftScreen {
    left: 25%;
  }
  .rightScreen {
    right: 25%;
  }
}

@media (max-width: 759px) {
  .section {
    padding: 70px 20px 80px;
  }

  .divider {
    margin-bottom: 70px;
  }

  .eyebrow {
    font-size: 16px;
  }

  .screens {
    width: min(100%, 520px);
    height: clamp(216px, 47.4vw, 360px);
    margin-block: 52px;
  }

  .groundShadow {
    height: clamp(7px, 1.6vw, 12px);
  }

  .leftGroundShadow,
  .rightGroundShadow {
    width: clamp(80px, 28vw, 130px);
  }

  .centerGroundShadow {
    width: clamp(115px, 40vw, 190px);
  }

  .leftScreen,
  .rightScreen {
    height: clamp(190px, 41.8vw, 318px);
  }

  .leftScreen {
    left: 19% !important;
    bottom: 5px;
  }

  .rightScreen {
    right: 19% !important;
    height: clamp(201px, 44.4vw, 338px);
  }

  .centerScreen {
    width: clamp(114px, 25vw, 190px);
  }

  .content p {
    margin-top: 24px;
  }
}
