.credit {
  margin-top: -36px;
  padding: 0 24px 36px;
  color: var(--color-text-secondary);
  opacity: 0.7;
  font-size: 13px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  text-align: center;
}

@media (max-width: 759px) {
  .credit {
    margin-top: 28px;
    padding: 0 20px 20px;
  }
}
